<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Created Date</th>
    </tr>

    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.Name %></td>
        <td><%= contact.CreatedDate %></td>
      </tr>
    <% end %>
  </table>

</div>
